<footer>
  <div class="f-info">
    <div class="f-info-social">
      <a href="https://twitter.com/Ankitka38153827">
        <img src="/images/facebook.png" alt=""
      /></a>

      <a href="https://github.com/Kashyap1ankit"
        ><img src="/images/github.png" alt=""
      /></a>

      <a href="https://www.linkedin.com/in/ankit-kashyap-coder/">
        <img src="/images/linkedin.png" alt=""
      /></a>
    </div>
    <div class="f-info-copy">&copy;2023 Airbnb Private Inc.</div>
    <div class="f-info-links">
      <a href="/privacy"><p>Privacy</p></a>
      <a href="/terms"><p>Terms</p></a>
    </div>
  </div>
</footer>
